# Related to data scripts
scripts/raw-github-results.json
secrets.json
.env

# Standard stuff
yarn-error.log
node_modules/**/*
npm-debug.*

# macOS
.DS_Store

# Expo
.expo

# Next.js
.next/*
analyze/
build/
out/

# IDEs
.idea

# TS build files
tsconfig.tsbuildinfo