# Related to data scripts
scripts/raw-github-results.json
secrets.json
.env

# Yarn Berry
.yarn/*
!.yarn/releases
!.yarn/plugins
yarn-error.log

# Standard stuff
node_modules/**/*
npm-debug.*

# macOS
.DS_Store

# Expo
.expo

# Next.js
.next/*
analyze/
build/
out/

# IDEs
.idea

# TS build files
tsconfig.tsbuildinfo
