# Related to data scripts
scripts/raw-github-results.json
secrets.json
.env

# Standard stuff
yarn-error.log
node_modules/**/*
npm-debug.*

# macOS
.DS_Store

# Expo Web
web-build
web-report

# Expo Native
.expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Next.js
.next/*
out/

# Next.js production
build/

# Next.js dependencies
.pnp
.pnp.js

# Now.js
.now

# IDEs
.idea
