.preview {
  background-color: white !important;
  opacity: 1 !important;
  padding: 10px !important;
  box-shadow: 0 5px 5px 0px #00000025 !important;
}

.preview img {
  max-width: 640px;
  max-height: 320px;
} 