name: Deploy to production

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'react-native-libraries.json'
  schedule:
    # Run every 3 hours - https://crontab.guru/#0_*/3_*_*_*
    - cron: '0 */3 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://reactnative.directory
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 22
      uses: actions/setup-node@v4
      with:
        node-version: '22'
    - name: Deploy
      shell: bash
      run: npx vercel --force --token "$VERCEL_TOKEN" --prod
      env:
        VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        BLOB_READ_WRITE_TOKEN: ${{ secrets.BLOB_READ_WRITE_TOKEN }}
        # https://spectrum.chat/zeit/now/solved-project-linking-and-ci-cd-pipelines~5e6eb62a-9d56-47ac-9e32-0d973a523787
        VERCEL_ORG_ID: 'team_IsLEAhLb9cZj6y1Bud9XYmeK'
        VERCEL_PROJECT_ID: 'QmecQ8hTu4DUHv6js5U8L9pJ9vp54mg1bmRLWaS5RZCyt4'
