name: Deploy to production

on:
  push:
    branches: [ main ]
  schedule:
    # Run every 1 hour - https://crontab.guru/#0_*/1_*_*_*
    - cron: '0 */1 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14
      uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Deploy
      shell: bash
      run: npx vercel --force --token "$VERCEL_TOKEN" --prod
      env:
        VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        # https://spectrum.chat/zeit/now/solved-project-linking-and-ci-cd-pipelines~5e6eb62a-9d56-47ac-9e32-0d973a523787
        VERCEL_ORG_ID: 'team_IsLEAhLb9cZj6y1Bud9XYmeK'
        VERCEL_PROJECT_ID: 'QmecQ8hTu4DUHv6js5U8L9pJ9vp54mg1bmRLWaS5RZCyt4'
