name: Test and Validate

on:
  push:
    branches: [main]
  pull_request_target:
    paths:
      - react-native-libraries.json

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: '20'
    - name: Install dependencies
      run: yarn
    - name: Lint
      run: yarn lint
    - name: Validate react-native-libraries.json
      run: yarn data:validate
    - name: Test react-native-libraries.json
      run: yarn data:test
    - name: Check new entries in react-native-libraries.json
      run: yarn ci:validate
      env:
        CI_CHECKS_TOKEN: ${{ secrets.CI_CHECKS_TOKEN }}
